/*Font Family*/

@font-face {
  font-family: Changaone-ita;
  src: url(ChangaOne-Italic.ttf);
}

@font-face {
  font-family: Changaone-reg;
  src: url(ChangaOne-Regular.ttf);
}

@font-face {
  font-family: haas;
  src: url(NHaasGroteskTXPro-55Rg.ttf);
}

@font-face {
  font-family: Raleway;
  src: url(Raleway-VariableFont_wght.ttf);
}

@font-face {
  font-family: Raleway-ita;
  src: url(Raleway-Italic-VariableFont_wght.ttf);
}

body{
    background-color: #4C0000;
}

/*Navigation Bar*/

.navbar-background{
  background: transparent;
 
}

.navbar-background .navbar-nav .nav-item .nav-link{
 
  
  color: #FFFDF5;
  border-radius: 10px;
  font-size: 18px;
  transition: .2s;
 
}

.navbar-nav .nav-item .nav-link:hover{
 
  background-color: #FFFDF5;
  border-radius: 10px;
  color: #4C0000;

}

.navigation nav{ 
  margin-bottom: 0px ;
  padding: 15px;
}

.nav-logo{
  height: 90px;
  width: 110px;
}

.nav-icon1 {
    width: 30px;
    height: 20px;
    position: relative;
    margin: 0px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
  }
  
  .nav-icon1 span{
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
  }
  .nav-icon1 span {
    background: white;
  }

  
.nav-icon1 span:nth-child(1) {
    top: 0px;
   }
   
   .nav-icon1 span:nth-child(2) {
     top: 10px;
   }
   
   .nav-icon1 span:nth-child(3) {
     top: 20px;
   }
   
   .nav-icon1.open span:nth-child(1) {
     top: 11px;
     -webkit-transform: rotate(135deg);
     -moz-transform: rotate(135deg);
     -o-transform: rotate(135deg);
     transform: rotate(135deg);
   }
   
   .nav-icon1.open span:nth-child(2) {
     opacity: 0;
     left: -60px;
   }
   
   .nav-icon1.open span:nth-child(3) {
     top: 11px;
     -webkit-transform: rotate(-135deg);
     -moz-transform: rotate(-135deg);
     -o-transform: rotate(-135deg);
     transform: rotate(-135deg);
   }

   
   
/*Home Section*/
.home-section{
  background-color: #FFFDF5;
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 20px;
  margin-top: 0px;
  border-radius: 8px;
  padding-top: 0px;
  padding-bottom: 10px;
  
}


.home-but{
  text-decoration: none;
  text-transform: uppercase;
  color: #4C0000;
  background-color: transparent;
  border: #4C0000 solid 3px;
  border-radius: 14px;
  padding: 10px;
  font-weight: 600;
  transition: 0.2s;
  font-family: haas;



}
.home-but:hover{
  text-decoration: none;
 
  color: #4C0000;

}

.home-content{
  padding-top: 30px;
}


.home-content h3{
 color: #4C0000;
 text-transform: uppercase;
 font-weight: 900;
 font-family: Changaone-reg;
 font-size: 40px;
}

.home-img{
  width: 550px;
  height: 550px;
}

/*About Section*/

.about-section{
  padding-top: 10px;
  padding-bottom: 10px;
}

.about-section-bg{
  background-color: #FFFDF5;
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 20px;
  margin-top: 0px;
  border-radius: 8px;
  padding-top: 50px;
  padding-bottom: 50px;
}

.about-section-bg h3{
  color: #4C0000;
  text-transform: uppercase;
  font-weight: 900;
  font-family: Changaone-reg;
  font-size: 36px;

}

.about-section-bg p{
  color: #4C0000;

 
  font-family: Raleway;
  font-size: 20px;

}

.about-text{
  padding-top: 50px;
}

.about-button-sec{
  padding-top: 30px;

}

.about-but{
  color: #4C0000;
  font-family: Raleway;
  font-weight: 600;
  text-transform: uppercase;
  border: 2px solid #4C0000;
  border-radius: 10px;
  padding: 10px;
  text-decoration: none;
  text-align: center;
  transition: 0.3s;
  font-size: 16px;
  width: 200px;
  font-family: Raleway;
}

.about-but:hover{
  text-decoration: none;
  background-color: #4C0000;
  color: #FFFDF5;

}
/*Projects Section*/
.projects-section{
  padding-top: 10px;
  padding-bottom: 0px;
}

.projects-section-bg{
  /*background-color: #E1DAC2;*/
  background-color: #FFFDF5;

  border-radius: 8px;
  padding-top: 50px;
  padding-bottom: 50px;
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 20px;
  margin-top: 0px;
}

.projects-section-bg h3{
  color: #4C0000;
  text-transform: uppercase;
  font-weight: 900;
  font-family: Changaone-reg;
  font-size: 36px;

}

.projects-box{
  padding-top: 30px;
}

.projects-box .card{
  border-radius: 26px;
}

.projects-button-sec{
  padding-top: 30px;

}

.projects-but{
  color: #4C0000;
  font-family: Raleway;
  font-weight: 600;
  border: 2px solid #4C0000;
  border-radius: 10px;
  padding: 10px;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  transition: 0.3s;
  font-size: 16px;
  width: 200px;
 
}
.projects-but:hover{
  text-decoration: none;
  background-color: #4C0000;
  color: #FFFDF5;
}

#projects img {
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  border-radius: 42px;
}

.content {
  position: relative;
  width: 90%;
  max-width: 800px;
  margin: auto;
  overflow: hidden;
}

.content .content-overlay {
  background: rgba(0,0,0,0.3);
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -moz-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
  border-radius: 4px;
}

.content:hover .content-overlay{
  opacity: 1;
  border-radius: 14px;
}

.content-image{
  width: 100%;
  border-radius: 4px;
}

.content-details {
  position: absolute;
  text-align: center;
  padding-left: 1em;
  padding-right: 1em;
  width: 100%;
  top: 50%;
  left: 50%;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.content:hover .content-details{
  top: 50%;
  left: 50%;
  opacity: 1;
}

.content-details h3{
  color: #FFFDF5;
  font-weight: 500;
  letter-spacing: 0.15em;
  margin-bottom: 0.5em;
  text-transform: uppercase;
  font-family: Changaone-reg;
  font-size: 24px;
}
.content-details h6{
  color: #FFFDF5;
  font-weight: 400;
  letter-spacing: 0.15em;
  margin-bottom: 0.5em;
  text-transform: uppercase;
  font-family: Raleway;
  font-size: 18px;
  padding-bottom: 8px;
}

.pro-but{
  color: #4C0000;
  font-family: Raleway;
  font-weight: 600;
  border: 2px solid #4C0000;
  background-color: #FFFDF5;
  border-radius: 10px;
  padding: 10px;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  transition: 0.3s;
  font-size: 14px;
  width: 120px;
}
.pro-but:hover{
  color: #FFFDF5;
  background-color: #4C0000;
  text-decoration: none;

}
.content-details p{
  color: #fff;
  font-size: 0.8em;
}

.fadeIn-bottom{
  top: 80%;
}

.fadeIn-top{
  top: 20%;
}

.fadeIn-left{
  left: 20%;
}

.fadeIn-right{
  left: 80%;
}

/*Photography Section*/
.photography-section{
  padding-top: 10px;
  padding-bottom: 0px;
}

.photography-section-bg{

  background-color: #FFFDF5;
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 5px;
  margin-top: 0px;
  border-radius: 8px;
  padding-top: 50px;
  padding-bottom: 50px;
}

.photography-section-bg h3{
  color: #4C0000;
  text-transform: uppercase;
  font-weight: 900;
  font-family: Changaone-reg;
  font-size: 36px;

}

.photography-box{
  padding-top: 30px;
}

.photography-button{
 
  display:inline-block ;
  color: #4C0000;
  font-family: Raleway;
  font-weight: 600;
  border: 2px solid #4C0000;
  background-color: rgb(255, 253, 245,0.5);

  border-radius: 10px;
  padding: 10px;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  transition: 0.3s;
  font-size: 16px;
  width: 200px;
 
}

.photography-button:hover{
  text-decoration: none;
 
 background-color: #4C0000;
 color: #FFFDF5;
}

#carouselExampleIndicators .carousel-inner .carousel-item .carousel-caption {

display: inline-block;

    width: 30%;
    height: 30%;
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
}


.photo-button-sec{
  padding-top: 30px;

}

.photo-but{
  color: #4C0000;
  font-family: Raleway;
  font-weight: 600;
  border: 2px solid #4C0000;
  border-radius: 10px;
  padding: 10px;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  transition: 0.3s;
  font-size: 16px;
  width: 200px;
}

.photo-but:hover{
  text-decoration: none;
  background-color: #4C0000;
  color: #FFFDF5;

}
/*Resume Section*/
.resume-nav-link{
  text-decoration: underline;
  text-underline-offset: 15px;

}

.resume-page-section{
  background-color: #4C0000;
 
 
  padding-top: 10px;
  padding-bottom: 0px;
 
  
}

.resume-page-section h3{
  text-transform: uppercase;
  font-weight: 900;
  font-family: Changaone-reg;
  color: #FFFDF5;
  font-size: 40px;

  
}
.resume-page-content{
  padding-top: 0px;
  margin-top: 0px;
}
.resume-page-content img{
  border-radius: 10px;
}
/*Footer Section*/
.footer-section{
 
  padding-bottom: 10px;
}

.footer-logo{
  height: 180px;
  width: 180px;
}

.footer-social-box{
  width: 300px;
}

 .footer-social-links .footer-social-box ul{
  list-style-type: none;
  border: 1px solid #FFFDF5;

  

}

.footer-social-links ul li{
  display: inline-block;
  padding: 10px;
  
 }

 .footer-social-links ul li a{

  border: 2px solid #FFFDF5;
  border-radius: 10px;
  justify-items: center;
  padding-top: 10px;
  padding-bottom: 15px;
  padding-left: 10px;
  padding-right: 10px;

 
  

 
 }

 .footer-social-links ul li a:hover {
  background-color: #FFFDF5;
  color: #4C0000;
 
 }
 

.footer-social-links ul li a i{
  font-size: 26px;
  color: #FFFDF5;
  vertical-align: middle;
 
}



.footer-navigation-links ul{
  list-style-type: none;


  
}

.footer-navigation-links ul li{
  display: inline-block;
  padding: 10px;
  color: #FFFDF5;
 }

 
.footer-navigation-links ul li a{
  text-decoration: none;
  color: #FFFDF5;
  transition: 0.3s;

}

.footer-navigation-links ul li a:hover{
  text-decoration: none;
  text-decoration: underline;
  text-underline-offset: 15px;
 

}

.footer-line{
  color:#FFFDF5;
  border: 1px solid #FFFDF5;
  margin-left:40px ;
  margin-right:40px ;
}
.footer-copyright{
  color: #FFFDF5;
  font-size: 16px;

}

/*Preloader*/

#preloader {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
  background-color: #4C0000;
	z-index: 100;
}

@keyframes inner {
	0% {
		opacity: 0.2;
	}
	50% {
		opacity: 0.8;
	}
	100% {
		opacity: 0.2;
	}
}

.bg-video-wrap {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
 background-color: #4C0000;

 
}
video {
  background-color: #4C0000;
  width: 100%;
  height: 100%;
  z-index: 1;
}

/*Mobile View*/

@media only screen and (max-width: 600px) {
  .nav-logo{
    height: 60px;
    width: 70px;
  }
  .footer-logo{
    height: 120px;
    width: 120px;
  }
  
.home-but{
  text-decoration: none;
  text-transform: uppercase;
  color: #4C0000;
  background-color: transparent;
  border: #4C0000 solid 3px;
  border-radius: 14px;
  padding: 10px;
  font-weight: 600;
  transition: 0.2s;
  font-family: haas;
  font-size: 14px;
  width: 150px;



}
.home-but:hover{
  text-decoration: none;
 
  color: #4C0000;

}

.home-content{
  padding-top: 10px;
}


.home-content h3{
 color: #4C0000;
 text-transform: uppercase;
 font-weight: 900;
 font-family: Changaone-reg;
 font-size: 20px;
 text-align: center;
}

.home-img{
  width: 450px;
  height: 450px;

}


.about-section-bg h3{
  color: #4C0000;
  text-transform: uppercase;
  font-weight: 900;
  font-family: Changaone-reg;
  font-size: 22px;

}

.about-section-bg p{
  color: #4C0000;

 
  font-family: Raleway;
  font-size: 14px;

}

.about-text{
  padding-top: 50px;
}

.about-button-sec{
  padding-top: 10px;

}

.about-but{
  color: #4C0000;
  font-family: Raleway;
  font-weight: 600;
  text-transform: uppercase;
  border: 2px solid #4C0000;
  border-radius: 10px;
  padding: 10px;
  text-decoration: none;
  text-align: center;
  transition: 0.3s;
  font-size: 14px;
  width: 140px;
  font-family: Raleway;
}

.about-but:hover{
  text-decoration: none;
  background-color: #4C0000;
  color: #FFFDF5;

}

.projects-section-bg h3{
  color: #4C0000;
  text-transform: uppercase;
  font-weight: 900;
  font-family: Changaone-reg;
  font-size: 22px;

}

.projects-box{
  padding-top: 30px;
}

.projects-box .card{
  border-radius: 26px;
}

.projects-button-sec{
  padding-top: 30px;

}

.projects-but{
  color: #4C0000;
  font-family: Raleway;
  font-weight: 600;
  border: 2px solid #4C0000;
  border-radius: 10px;
  padding: 10px;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  transition: 0.3s;
  font-size: 14px;
  width: 140px;
 
}
.projects-but:hover{
  text-decoration: none;
  background-color: #4C0000;
  color: #FFFDF5;
}

#projects img {
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  border-radius: 42px;
}

.content {
  position: relative;
  width: 90%;
  max-width: 800px;
  margin: auto;
  overflow: hidden;
}

.content .content-overlay {
  background: rgba(0,0,0,0.3);
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -moz-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
  border-radius: 4px;
}

.content:hover .content-overlay{
  opacity: 1;
  border-radius: 14px;
}

.content-image{
  width: 100%;
  border-radius: 4px;
}

.content-details {
  position: absolute;
  text-align: center;
  padding-left: 1em;
  padding-right: 1em;
  width: 100%;
  top: 50%;
  left: 50%;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.content:hover .content-details{
  top: 50%;
  left: 50%;
  opacity: 1;
}

.content-details h3{
  color: #FFFDF5;
  font-weight: 500;
  letter-spacing: 0.15em;
  margin-bottom: 0.5em;
  text-transform: uppercase;
  font-family: Changaone-reg;
  font-size: 16px;
}
.content-details h6{
  color: #FFFDF5;
  font-weight: 400;
  letter-spacing: 0.15em;
  margin-bottom: 0.5em;
  text-transform: uppercase;
  font-family: Raleway;
  font-size: 12px;
  padding-bottom: 8px;
}

.pro-but{
  color: #4C0000;
  font-family: Raleway;
  font-weight: 600;
  border: 2px solid #4C0000;
  background-color: #FFFDF5;
  border-radius: 10px;
  padding: 10px;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  transition: 0.3s;
  font-size: 12px;
  width: 80px;
}
.pro-but:hover{
  color: #FFFDF5;
  background-color: #4C0000;
  text-decoration: none;

}
.content-details p{
  color: #fff;
  font-size: 0.8em;
}
}